{% from "views/_helper.njk" import alert %}

{% macro paramsRequestCaptcha(showExtra=false) %}
| 参数名 | 参数类型 | 默认 | 说明 |
| --- | --- | --- | --- |
| `width` | `number` | `85` | 图形验证码展示区域的宽度，单位：像素，有效值范围：60-200。 |
| `height` | `number` | `30` | 图形验证码展示区域的高度，单位：像素，有效值范围：30-100。 |
{% if showExtra -%}
| `size` | `number` | `4` | 验证码的字符长度，有效值范围：3-6（需要使用 `masterKey`）。 |
| `ttl` | `number` | `60` | 验证码有效期，单位：秒，有效值范围：10-180（需要使用 `masterKey`）。 |
{%- endif %}
{% endmacro %}


