<header class="doc-subnav mobile-hide" role="banner">
  <div class="container-fluid">
    <nav class="" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">功能概览</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/overview/">数据存储服务总览</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/overview/" target="_blank">云引擎服务总览</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/overview/">推送通知服务总览</a></li>
            <li><a href="realtime_v2.html">即时通讯服务总览</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/start/dashboard/">管理控制台使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/security/">数据和安全</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/error-code/">错误码详解</a></li>
            <li><a href="faq.html">常见问题一览</a></li>
            <li><a href="tool_tips.html">常见功能提示</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Objective-C</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-objc/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/objc/">数据存储开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/ios/">消息推送开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/ios-cert/">iOS 推送设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime-guide-beginner.html">即时通讯开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="faq.html#iOS/macOS_SDK">FAQ</a></li>
            <li><a href="/api-docs/iOS/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Swift</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-swift/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/swift/">数据存储开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/ios/">消息推送开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/ios-cert/">iOS 推送设置指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime-guide-beginner.html">即时通讯开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Android</a>
          <ul class="dropdown-menu">
            <li><a href="sdk_setup-java.html">SDK 安装指南</a></li>
            <li><a href="leanstorage_guide-java.html">数据存储开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/android/">消息推送开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime-guide-beginner.html">即时通讯开发指南</a></li>
            <li><a href="chatkit-android.html">ChatKit 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="faq.html#Java_SDK">FAQ</a></li>
            <li><a href="/api-docs/android/index.html" target="_blank">SDK API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">JavaScript</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-js/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/js/">数据存储开发指南</a></li>
            <li><a href="weapp.html">小程序 / 小游戏开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime-guide-beginner.html">即时通讯开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="leanstorage_friendship_guide.html">好友关系开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="faq.html#JavaScript_SDK">FAQ</a></li>
            <li><a href="https://leancloud.github.io/javascript-sdk/docs/" target="_blank">数据存储 SDK API</a></li>
            <li><a href="https://leancloud.github.io/js-realtime-sdk/docs/" target="_blank">即时通讯 SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/nodejs/" target="_blank">云引擎 Node.js 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">.NET/Unity</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-dotnet/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/dotnet/">数据存储开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="realtime-guide-beginner.html">即时通讯开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信服务使用指南</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/csharp-sdk/html/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/dotnet/" target="_blank">云引擎 .NET 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Python</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-python/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/python/">数据存储开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="im-servermgmt-guide-python.html">即时通讯服务端管理开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/python-sdk/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/python/" target="_blank">云引擎 Python 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">PHP</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-php/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/php/">数据存储开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://leancloud.github.io/php-sdk/" target="_blank">SDK API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/php/" target="_blank">云引擎 PHP 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Java</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-java/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/java/">数据存储开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/relation/">数据模型设计指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/acl/">ACL 权限管理指南</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="sms-guide.html">短信 SMS 服务使用指南</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/java/" target="_blank">云引擎 Java 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">Go</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/setup-go/">SDK 安装指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/go/">数据存储开发指南</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">云引擎</li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/go/" target="_blank">云引擎 Go 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">REST API</a>
          <ul class="dropdown-menu">
            <li><a href="rest_api.html">数据存储 API</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/rest-api/" target="_blank">云函数 API</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/push/guide/rest/">消息推送 API</a></li>
            <li><a href="realtime_rest_api_v2.html">即时通讯 API</a></li>
            <li><a href="rest_sms_api.html">短信验证 API</a></li>
            <li><a href="leanstorage_friendship_guide.html#REST_API">好友关系 API</a></li>
            <li><a href="status_system.html#REST_API">社交信息流 API</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/fulltext-search-rest/">全文搜索 API</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">云引擎</a>
          <ul class="dropdown-menu">
            <li><a href="https://docs.leancloud.cn/sdk/engine/overview/" target="_blank">云引擎服务总览</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/getting-started/" target="_blank">快速开始部署云引擎应用</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/platform/" target="_blank">云引擎平台功能</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/webapp/" target="_blank">云引擎 Web 前端运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/nodejs/" target="_blank">云引擎 Node.js 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/python/" target="_blank">云引擎 Python 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/java/" target="_blank">云引擎 Java 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/php/" target="_blank">云引擎 PHP 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/dotnet/" target="_blank">云引擎 .NET 运行环境</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deploy/go/" target="_blank">云引擎 Go 运行环境</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/getting-started/" target="_blank">快速开始部署云函数和 Hook</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/guides/" target="_blank">云函数和 Hook 开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/sdk/" target="_blank">云引擎 SDK 使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/cloud-queue/" target="_blank">云队列（Cloud Queue）开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/functions/rest-api/" target="_blank">云函数 REST API</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/database/redis/" target="_blank">LeanCache 使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/database/mysql/" target="_blank">LeanDB MySQL 使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/database/mongo/" target="_blank">LeanDB MongoDB 使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/database/es/" target="_blank">LeanDB ElasticSearch 使用指南</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/cli/" target="_blank">命令行工具 CLI 使用指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/deep-dive/" target="_blank">深入了解云引擎</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/dedicated-IP/" target="_blank">云引擎独立 IP</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/engine/faq/" target="_blank">云引擎 FAQ</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">游戏解决方案</a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">多人在线对战</li>
            <li><a href="multiplayer.html">多人在线对战服务总览</a></li>
            <li><a href="multiplayer-quick-start-js.html">快速入门 · JavaScript</a></li>
            <li><a href="multiplayer-guide-js.html">开发指南 · JavaScript</a></li>
            <li><a href="multiplayer-quick-start-csharp.html">快速入门 · C#</a></li>
            <li><a href="multiplayer-guide-csharp.html">开发指南 · C#</a></li>
            <li><a href="multiplayer-error-code.html">多人在线对战错误码</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">多人在线对战 Client Engine</li>
            <li><a href="client-engine.html">Client Engine 总览</a></li>
            <li><a href="client-engine-quick-start-node.html">Client Engine 快速入门 · Node.js</a></li>
            <li><a href="client-engine-first-game-node.html">你的第一个 Client Engine 小游戏</a></li>
            <li><a href="client-engine-guide-node.html"> Client Engine 开发指南 · Node.js</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">排行榜</li>
            <li><a href="leaderboard.html">排行榜服务总览</a></li>
            <li><a href="leaderboard-quick-start-js.html">快速入门 · JavaScript</a></li>
            <li><a href="leaderboard-guide-js.html">开发指南 · JavaScript</a></li>
            <li><a href="leaderboard-quick-start-dotnet.html">快速入门 · C#</a></li>
            <li><a href="leaderboard-guide-dotnet.html">开发指南 · C#</a></li>
            <li><a href="leaderboard-guide-objc.html">开发指南 · Objective-C</a></li>
            <li><a href="leaderboard-rest-api.html">排行榜 REST API</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Demo</li>
            <li><a href="game-demos.html">游戏 Demo 示例</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#">更多</a>
          <ul class="dropdown-menu">
            <li><a href="status_system.html">社交信息流开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/fulltext-search/">全文搜索开发指南</a></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/app-data-share/">应用之间数据共享（Class 绑定）</a></li>
            {% if node != 'qcloud' and node != 'us' %}
            <li><a href="https://docs.leancloud.cn/sdk/storage/datalake/">数据仓库使用指南</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="https://docs.leancloud.cn/sdk/storage/guide/network-connectivity-diagnosis/">网络连通性诊断流程</a></li>
            <li class="divider"></li>
            <li><a href="demo.html">Demo</a></li>
          </ul>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search.html" method="get" target="_blank" class="search-form">
            <input name="q" class="search-input" placeholder="搜索&hellip;">
          </form>
        </li>
      </ul> -->
    </nav>
  </div>
</header>
